<footer class="bg-black text-gray-300 py-8">
    <div class="container mx-auto text-center">
      <div class="mb-4">
        <p class="text-sm">&copy; 2024 Marvel y DC. Todos los derechos reservados.</p>
      </div>
      <div class="mt-4">
        <p class="text-sm">Desarrollado marvel y dc </p>
      </div>
    </div>
  </footer>
  